* {
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

ul, li {
  padding: 0;
  margin: 0;
}

div.selector {
  text-align:center;
  width: 50%;
  min-width: 230px;
  margin: 0 auto;
  position: relative;
}

div.selector input {
  min-width: 100%;
  padding: 5px 0;
}

li.pokemon {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 20px;
}

ul.resultList {
  position: absolute;
  left: 0;
  top: 90px;
  background-color: white;
  width: 100%;
  z-index: 1;
  border: 1px solid black;
}

li.result {
  list-style:none;
  border: 2px solid transparent;
  padding: 5px 0;
}

li.result:hover {  
  cursor: pointer;
  border: 2px solid lightgreen;
}